<div class="row comment">
  <div class="small-1 columns comment--author">
    <span class="label secondary"><%= comment.username %></span>
  </div>
  <div class="small-9 columns">
    <p class="comment--text"><%= comment.text %></p>
  </div>
</div>
