<div class="row">
  <div class="recipes--recipe-list-item">

    <div class="row">
      <div class="small-1 columns">
        <%= recipe.votes %>
      </div>
      <div class="small-9 columns">
        <%= link_to recipe.title, recipe_url(recipe) %>
      </div>
    </div>

  </div>
</div>
