<h1>Awesome Guacamole Recipes</h1>

<blockquote>
  The real secret to guacamole is that you use exactly the elements
  that you need, which is cilantro, onion, tomato, and jalapenos. And, of
  course, avocado.
  <cite><%= link_to "Demián Bichir", "https://en.wikipedia.org/wiki/Demián_Bichir" %></cite>
</blockquote>
