.recipes--header {
  text-align: center;
}

.recipes--recipe-list-item {
  @include grid-column($columns: 10, $center: true);
}

.recipes--ingredients-list {
  width: 100%;
}

.ingredient--amount {
  font-style: italic;
}
